body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 16px;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10% 5% 10%;
    
}


.header .upper {
    display: flex;
    align-items: center;
    margin: 16px 0 64px 0;
}

.footer {
    background-color: #1F2937;
    height: 50px;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.upper {
    display: flex;
    justify-content: space-between;
}

.upper .left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.upper-button {
    background-color: #3882F6;
    border-radius: 9px;
    border-style: none;
    padding: 5px 30px;
    color: white;
    font-weight: 600;
}


.header .lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.header .lower-right {
    background-color: rgb(117, 117, 117);
    text-align: center;
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.header .lower-left {
    color: #E5E7EB;
}

.heading-main {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.middle {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 5%;
    padding-top: 32px;
}

.paragraph {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 60%;
}

.author {
    font-weight: 700;
}

.container {
    background-color: #3882F6;
    border-radius: 12%;
    border-style: none;
    max-width: 70ch;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 36px;
}

.text-container {
    color: #F9FAF8;
    font-weight: bold;
    margin: 0;
}

.container-para {
    color: white;
    margin: 0;
}

.middle-lower {
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}