body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 130vh;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 16px;
}


a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10% 5% 10%;
    
}


.header .upper {
    display: flex;
    align-items: center;
    margin: 16px 0 64px 0;
}

.footer {
    background-color: #1F2937;
    height: 5%;
    color:#F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.upper {
    display: flex;
    justify-content: space-between;
}

.upper .left {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.upper-button {
    background-color: #3882F6;
    border-radius: 9px;
    border-style: none;
    padding: 5px 30px;
    color: white;
    font-weight: 600;
}


.header .lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.header .lower-right {
    background-color: rgb(117, 117, 117);
    text-align: center;
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
}

.header .lower-left {
    color: #E5E7EB;
}

.heading-main {
    font-size: 48px;
    color: #F9FAF8;
    margin: 0;
}

.middle-upper {
    height: 40%;
    
}

.middle {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    max-height: 20%;
    justify-items: center;
}

.paragraph {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 70%;
    font-weight: lighter;
    margin: 0;
}

.author {
    font-weight: 700;
    justify-items: flex-start;
    margin: 0;
    align-self:flex-end;
    padding-right: 15%;
    
}

.container {
    background-color: #3882F6;
    border-radius: 7px;
    max-width: 70ch;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 36px;
    padding: 40px 70px;
}

.text-container {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.container-para {
    color: white;
    margin: 0;
    font-size: 13px;
}

.middle-lower {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    padding: 5%;
}

.middle-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.lower-button {
    background-color: #3882F6;
    color:#F9FAF8;
    border-color: #F9FAF8;
    border-radius: 5px;
    border-style: solid;
    padding: 3px 20px;
}

.middle-heading {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-top: 32px;
    gap: 32px;
}

.image {
    border-color: #1F2937;
    width: 144px;
    height: 144px;
    border-style: solid;
    border-radius: 12px;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.image-text {
    max-width: 144px;
}
